._*
dict_label_to_num.pkl
dict_num_to_label.pkl
train.py
Entity_embedding.ipynb
wandb/
logs/
__pycache__/
prediction/
.ipynb_checkpoints
.bash_history
.cache/
.config/
.ipython/
.jupyter/
.local/
.netrc
.profile
.python_history
.viminfo
.vscode-server/
.wget-hsts
my_baseline/
notebooks/.ipynb_checkpoints/
/opt/ml/git_k/level2_klue_nlp-level2-nlp-07/for_binary/for_binary/data/